// @import './_reset';
@import './variables.scss';
@import 'mixins';
@import 'modal';
@import './nav';
@import './typography';
@import './project-card';
@import './shapes';


/* MARK: NAV */
$nav-height: 80px;

/* global */
html {
  box-sizing: border-box;
  position: relative;
}

* {
  box-sizing: inherit;

  @include user-select(none);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  -webkit-tap-highlight-color: transparent;
}

body {
}

section {
  margin-bottom: 2em;
}

#app {
  min-height: 100vh;
}
div.container {
  @include container();
}

.projects > .project-container {
  @include center-block;
  // @include flexbox;
  // @include flex-direction(row);
  // @include flex-wrap(wrap);
}

button {
  font-size: $font-size-regular;
  font-weight: $font-weight-bold;
  box-sizing: border-box;
  border: 0;
  color: $primary-color;
  padding: 8px 0px;
  margin: 0 8px;
  // border-bottom: 2px solid transparent;
  &:focus{
    outline: none;
  }
  &:active {
    background-color: transparent;
  }
  &:hover {
    cursor: pointer;
    color: $primary-color-darken;
    // border-bottom: 2px solid $primary-grey;
  }
}

.show-on-print {
  display: none;
  @include print {
    display: block;
  }
}

.hide-on-print {
  display: block;
  @include print {
    display: none;
  }
}


