.nav{
  .container {
    @include container();
  }
  .nav-container {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    .nav-items {
      margin: 0px 10px 0px 0px;
      padding-bottom: 5px;
      &.selected {
        border-bottom: 2px solid $secondary-color;
      }
    }
  }
}
