$corner-color: $primary-grey-light;
.right-bottom-corner {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -5px;
    right: -5px;
    border-bottom: 2px solid $corner-color;
    border-right: 2px solid $corner-color;
}
