body {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
}

a {
  display: inline-block;
  color: $primary-color;
  text-decoration: none;
  @include font-size($font-size-regular);

  &:visited {
    color: $primary-color;
  }

  &:hover {
    color: $primary-color-darken;
  }
}
h1 {
  @include font-size($font-size-x-large);
}


ol, ul {
    list-style: square;
}

p {
  letter-spacing: -.001em;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  word-break: break-word;
  --webkit-font-smoothing: antialiased;
}
