body {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

h3 {
    font-weight: 500;
}
a {
  display: inline-block;
  color: $primary-color;
  text-decoration: none;
  @include font-size($font-size-regular);

  &:visited {
    color: $primary-color;
  }

  &:hover {
    color: $primary-color-darken;
  }

  img {
      max-width: 15px;
      position: relative;
      bottom: -3px;
  }
}
h1 {
  @include font-size($font-size-x-large);
}


ol, ul {
    list-style: square;
}

p {
  letter-spacing: -0.037px;
  overflow-wrap: break-word;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

h2 {
  margin-bottom: 8px;
}

