body {
  font-family: $primary-font;
  font-size: $font-size-regular;
  font-weight: $font-weight-regular;
  word-break: break-word;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1, h2, h3,h4,h5, span, i, b {
  @include user-select(text);
}

.capitalized{
  text-transform: capitalize;
}

h3 {
  font-size: $font-size-large;
  font-weight: 500;
}
a {
  display: inline-block;
  color: $primary-color;
  text-decoration: none;
  @include font-size($font-size-regular);

  &:visited {
    color: $primary-color;
  }

  &:hover {
    color: $primary-color-darken;
  }

  img {
    max-height: 18px;
    max-width: 18px;
    position: relative;
    bottom: -3px;
    margin-right: 3px;
  }
}

h1 {
  @include font-size($font-size-x-large);
  font-weight: $font-weight-medium;
}
h2 {
  @include font-size($font-size-large);
  font-weight: 700;
  font-family: $title-font;
}

ol, ul {
  list-style: square;
}

p, li {
  font-weight: $font-weight-regular;
  line-height: 1.5;
  @include user-select(text);

  @include font-size($font-size-medium);
  overflow-wrap: break-word;

  @include print {
    @include font-size($font-size-medium);
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

h1, h2, h3, h4 {
  margin-top: 15px;
  margin-bottom: 15px;
}
