$primary-font: 'Fira Mono', monospace, sans-serif;
$primary-color: #10458c;
$primary-color-darken: darken(#3045f5, 30%);
$secondary-color: #66a929;
$secondary-color-superlight: lighten($secondary-color, 40%);
$primary-color-strong: rgb(94, 94, 94);
$primary-color-contrary: white;
$project-card-height: 200px;

$primary-grey: #3e3e3e;
$primary-grey-light: lighten($primary-grey, 30%);
$primary-grey-superlight: lighten($primary-grey, 60%);


$primary-text-color: $primary-grey;
$primary-text-light-color: $primary-grey-light;
$primary-text-lighter-color: $primary-grey-superlight;

$font-size-small: 12px;
$font-size-regular: 16px;
$font-size-large: 24px;
$font-size-x-large: 32px;


// /*------------------------------------*\
//     # Simple Typography Settings
// \*------------------------------------*/
//
// // Font Family
// $font-family: $primary-font;
//
// // Base Font for HTML
// $base-font-size: 16px;
//
// // Paragraph Styles
// $paragraph-color      : #505050;
// $paragraph-size       : rem($font-size-regular);
// $paragraph-line-height: 1.5em;
// $paragraph-margin     : 20px;
//
// // Header Styles
// $header-color      : #000000;
// $header-size       : rem($font-size-x-large);
// $header-line-height: 1.25em;
// $header-margin     : $paragraph-margin * 1.2;
//
// // Blockquote Styles
// $blockquote-color      : #505050;
// $blockquote-size       : rem($font-size-large);
// $blockquote-line-height: 1.5em;
// $blockquote-margin     : $paragraph-margin * 1.5;
//
// // Links
// $link-color: #459bd9;
//
// // hr
// $hr-margin: 30px;
//
// // Type Misc
// $font-weight-bold: 800;
// $border-color: #DADADA;
