@tailwind base;
/* @import './fonts/fonts.css'; not using monolisa for now */
@tailwind components;
@tailwind utilities;

html {
  scroll-padding-top: 80px; /* offset fixed nav when scrolled. */
  scroll-behavior: smooth;
}
body article pre {
  /* TODO: this should be handled with markdoc. Altho, using css variable is good enough for now. */
  font-family: var(--font-roboto-mono) !important;
  font-size: 0.95rem !important;
}
body article img {
  margin-left: auto;
  margin-right: auto;
  @apply w-11/12;
}

.utterances {
  @apply sm:mx-2 mx-0 my-4;
}

/* Overwrite prose plugin style */
.prose .hammer {
  @apply mt-0 mb-0;
}
.prose .callout p{
  margin-top: 0;
  margin-bottom: 0;
}

/* MARK: Heading counters */

.heading-counter {
  @apply mr-1 font-normal; /* using em for relative size shrinking */
  font-size: 0.9 em;
}

.prose h1 {
  counter-reset: h2section;  /* Initialize the main counter */
}
.prose h2::before {
  counter-increment: h2section;  /* Increment the main counter */
  content: counter(h2section) ".";  /* Display the counter */
  @apply heading-counter;
}

.prose h2 {
  counter-reset: h3subsection;  /* Initialize a subsection counter for each h1 */
}

.prose h3::before {
  counter-increment: h3subsection;  /* Increment the subsection counter */
  /* Display the counter with a '.' after it and a space */
  content: counter(h2section) "." counter(h3subsection) ".";
  @apply heading-counter;
}

.prose h3 {
  counter-reset: h4subsection;  /* Initialize a subsection counter for each h1 */
}
.prose h4::before {
  counter-increment: h4subsection;  /* Increment the subsection counter */
  /* Display the counter with a '.' after it and a space */
  content: counter(h2section) "." counter(h3subsection) "." counter(h4subsection) ".";
  @apply heading-counter;
}
