html {
  @apply antialiased bg-gray-100 leading-tight min-h-screen;
}

.body {
  @apply font-normal leading-normal select-text text-base;
}

.vertical-align {
  @apply absolute;
  top: calc(50% - 4rem);
  transform: translateY(calc(50% - 4rem));
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

p {
  @apply my-4;
}

img {
  @apply my-2;
}

.screen-nav {
  min-height: calc(100vh - 50px);
}

.social-icon {
  @apply fill-current w-6 h-6 mx-1 inline-block;
}

.right-bottom-corner {
  display: block;
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: -5px;
  right: -5px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  @apply text-gray-900;
}

@media print {
  body {
    zoom: 70%;
  }
}
