/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

body {
  /* @apply p-12 bg-blue-500; */
}

@variant hover {
}

a {
  @apply text-indigo-600;
}
a:hover {
  @apply text-indigo-800;
}

.vertical-align {
  @apply absolute;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  @apply text-4xl my-4;
}

.screen-nav {
  height: calc(100vh - 60px);
}
